body {
    background-color: #1a1a1a;
    font-family: "Comfortaa", sans-serif;
    color: #FFF;
}

a {
    color: #FFF;
}
a:hover {
    color: #FFF;
}

.header1 {
    font-size: 4em;
}

.project-button {
    color:#FFF;
    border: none;
    border-radius: 25px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    transition: 0.4s;
    background-color: transparent;
    outline: transparent;
}

.project-button:hover {
    outline: none;
    transition: 0.4s;
    color:#1a1a1a;
    background-color: #FFF;

}

.project-button:active {
    outline: none;
}

.card {
    background-color: #1a1a1a;
    border: 3px solid #FCFCFC;
    box-shadow: 0px 8px 4px #000;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
    min-width: 280;
    max-width: 340px;
    margin-right: 15px;
    margin-left: 15px;
    width: 20em;
}

.project-name {
    font-size: 1.3em;
}

.project-description {
    font-size: 0.7em;
}

.project-bold {
    font-weight: bolder;
    font-size: 0.7;
}

.view-button {
    min-width: 120px;
    border-radius: 25px;
    margin-bottom: 5px;
    transition: 0.4s;
    background-color: transparent;
    outline: none;
    box-shadow: 0px 3px 4px #000;
    border-color: #444;
}

.view-button:hover {
    transition: 0.4s;
    border-color: #FFF;
    background-color: #1a1a1a;
    color:#FFF;
    box-shadow: 0px 0px 0px #000;
}

.secondary-button {
    min-width: 120px;
    border-radius: 25px;
    margin-bottom: 5px;
    transition: 0.4s;
    color: #FFF;
    background-color: transparent;
    outline: none;
    box-shadow: 0px 3px 4px #000;
    border-color: #FFF;
}

.secondary-button:hover {
    transition: 0.4s;
    border-color: #1a1a1a;
    background-color: #FFF;
    color:#1a1a1a;
    box-shadow: 0px 0px 0px #000;
}

.card-img-top {
    border-radius: 25px 25px 0px 0px ;
    margin-bottom: 10px;
}

img.animated-gif{
    width: auto;
    height: 300px;
}

.input_box {
    background-color: #1a1a1a;
    border: 3px solid #FCFCFC;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 8px 4px #000;
}

.page-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
}

.sub-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    margin-left: 0.3em;
}

.primary-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.primary-text {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 2em; /* Full-width */
    height: 25px; /* Specified height */
    background: transparent; /* Grey background */
    outline: transparent; /* Remove outline */
    border: transparent;
    font-family: "Comfortaa", sans-serif;
    color: #FFF;
}

.username-input{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: transparent; /* Grey background */
    border: 1px solid #FCFCFC;
    font-family: "Comfortaa", sans-serif;
    color: #FFF;
}

.checkbox{
    height: 25px; 
    width: 25px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 17px;
    height: 25px;
    background: #666666;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    -webkit-appearance: none;
}

.home-pic {
    overflow: hidden;
    width: 190px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.home-box {
    background-color: #1a1a1a;
    border: 3px solid #FCFCFC;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.home-nav {
    color: #FFF;
}

.home-nav:hover {
    color: #FFF;
    text-decoration: none;
}

iframe {
    color: #eee;
    border-radius: 25px;
}